<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Zoster is a project to allow people to build and easily store stock analyses. It is designed for individual value investors to apply the same timeless techniques that have been described by great investors like Warren Buffet and Charlie Munger.
</p>
