%h1= @stock.name
=link_to '10-K', "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=#{@stock.symbol}&type=10-k&dateb=&owner=exclude&count=40"
=link_to '8-K', "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=#{@stock.symbol}&type=8-k&dateb=&owner=exclude&count=40"
=link_to "New DCF", new_stock_dcf_path(@stock)
=link_to "Discounted Free Cash Flows", stock_dcfs_path(@stock)
%h2 Income Statement
%table.data
	%thead	
		%th
		%th 
			=@stock.start_year-9
		%th 
			=@stock.start_year-8
		%th 
			=@stock.start_year-7
		%th 
			=@stock.start_year-6
		%th 
			=@stock.start_year-5
		%th 
			=@stock.start_year-4
		%th 
			=@stock.start_year-3
		%th 
			=@stock.start_year-2
		%th 
			=@stock.start_year-1
		%th 
			=@stock.start_year
	%tbody
		=render @income_statement 

%h2 Balance Sheet

%table.data
	%thead	
		%th
		%th 
			=@stock.start_year-9
		%th 
			=@stock.start_year-8
		%th 
			=@stock.start_year-7
		%th 
			=@stock.start_year-6
		%th 
			=@stock.start_year-5
		%th 
			=@stock.start_year-4
		%th 
			=@stock.start_year-3
		%th 
			=@stock.start_year-2
		%th 
			=@stock.start_year-1
		%th 
			=@stock.start_year
	%tbody
		=render @balance_sheet

%h2 Cash Flow

%table.data
	%thead	
		%th
		%th 
			=@stock.start_year-9
		%th 
			=@stock.start_year-8
		%th 
			=@stock.start_year-7
		%th 
			=@stock.start_year-6
		%th 
			=@stock.start_year-5
		%th 
			=@stock.start_year-4
		%th 
			=@stock.start_year-3
		%th 
			=@stock.start_year-2
		%th 
			=@stock.start_year-1
		%th 
			=@stock.start_year
	%tbody
		=render @cash_flow
