<%= provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <%= render 'homepage' %>  
    <%= render 'follow_pages' %>
  </aside>
  <div class="span8">
    <%= render 'user_show' %>
  </div>
</div>