<span class="content"><%= wrap(item.content) %></span>
<span class="timestamp">
  Posted <%= time_ago_in_words(item.created_at) %> ago. 
</span>
<% if current_user?(item.user) %>
  <%= link_to "delete", item, method:  :delete,
                                     confirm: "You sure?",
                                     title:   item.content %>
<% end %>